# Logs
Logs
*.log 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*


# misc
.DS_Store
.AppleDouble
.LSOverride
.vs
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase cache
.firebase/
firebaserc
.firebase.json
database.rules.json

# Complited binary addons
dist
build/Release


# production
/build
/dist

# Dependency directories
node_moduls/
/.pnp
.pnp.jsonapp/css

# Optional npm cache directory
.npm

#Optional eslint cache 
.eslintcache

# Oprional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# dotenv environment variables file
.env 

# webstorm user setting files
.idea

# Runtime data
pids
*.pid
*.seed
*.pid.lock


